body {
    font-family: 'Quicksand', sans-serif;
}

main {
    margin: 0 auto;
    text-align: center;
}

.pictures {
    display: grid;
    gap: 10px;
}

img[data-src] {
    filter: blur(0.1em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
}