$primaryColor: #e4c517;

// ----------------Fonts--------------------
$fontTitle: 'Lora', helvetica;
$fontText: Helvetica, Arial, sans-serif;
$regularWeight: 400;
$heavyWeight: 700;

// --------------Colors---------------------
$blueColor: #6495ED;
$color2: #FAEBD7;
$color3: #DEB887;


// -------------Others----------------------
//$gutter: 2%;