@media only screen and (min-width: 47em) {
    .menubar {
        display: flex;
    }
    
    .menubar li {
            display: block;
            flex: 1 1 100%;
    }
    
    .menubar li:first-child {
        display: none;
    }

    .photos {
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        max-width: 755px;
    }

}
